---
layout: main
---

{% for post in site.posts %}
  <div class="row post">
    <div class="eight columns">
      <h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
      {{ post.content }}
    </div>
    <div class="four columns">
      <h3>Details</h3>
      <div class="detail">{{ post.location }}</div>
      <div class="detail">{{ post.address }}</div>
      <div class="detail">{{ post.time }}</div>
      {% if post.registration != "" %}
        <a href="{{ post.registration }}" target="_blank" class="register">Register</a>
      {% endif %}
    </div>
  </div>
{% endfor %}
