<!DOCTYPE html>
<head>
  <title>Burlington Ruby</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/grid.css" type="text/css" media="screen" />
  <script type="text/javascript" src="http://use.typekit.com/tss2vvd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32599439-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class="container">
    <div class="logo">
      <h1><img src="/images/logo.png">Burlington<span class="red">Ruby</span></h1>
      <h2>a ruby users group in burlington vermont</h2>
    </div>
    {{ content }}
  </div>
</body>
</html>
